<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Appartment Management</title>
  </head>
    <body class="bg-gray-100">
        <div>
          <div class="flex items-center py-2 px-10 border-b shadow">
            <a href="./registrations.html" class="text-indigo-500 text-xl font-semibold flex items-center justify-center py-2 px-10">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
              </svg>        
              <span>Back</span>
            </a>
          </div>
          <div class="flex flex-col px-80 align-top">
            <h4 class="py-10 text-gray-700 text-3xl font-bold text-center">Add Customer</h4>
            <form action="">
              <div class="flex justify-between">
                <div class="w-2/5 py-2">
                  <label for="nom" class="text-base text-gray-500">Name</label> <br>
                  <input type="text" name="nom" id="nom" class="px-4 py-2 w-full rounded border border-gray-200">
                </div>
                <div class="w-2/5 py-2">
                  <label for="lnom" class="text-base text-gray-500">Last Name</label> <br>
                  <input type="text" name="lnom" id="lnom" class="px-4 py-2 w-full rounded border border-gray-200">
                </div>
              </div>
              <div class="flex justify-between">
                <div class="w-2/5 py-2">
                  <label for="fnom" class="text-base text-gray-500">First Name</label> <br>
                  <input type="text" name="fnom" id="fnom" class="px-4 py-2 w-full rounded border border-gray-200">
                </div>
              </div>
              <div class="flex justify-between">
                <div class="w-full py-2">
                  <label for="local_address" class="text-base text-gray-500">Local Address</label> <br>
                  <input type="text" name="local_address" id="local_address" class="px-4 py-2 w-full rounded border border-gray-200">
                </div>
              </div>
              <div class="flex justify-between">
                <div class="w-2/5 py-2">
                  <label for="phone" class="text-base text-gray-500">Telephone</label> <br>
                  <input type="tel" name="phone" id="phone" class="px-4 py-2 w-full rounded border border-gray-200">
                </div>
                <div class="w-2/5 py-2">
                  <label for="email" class="text-base text-gray-500">Email</label> <br>
                  <input type="email" name="email" id="email" class="px-4 py-2 w-full rounded border border-gray-200">
                </div>
              </div>
              <div class="flex justify-center align-middle">
                <input type="button" value="Submit" class="text-xl px-8 py-3 rounded bg-indigo-500 text-white font-semibold mt-10 hover:bg-opacity-50 hover:border-indigo-500 hover:border-2 hover:text-indigo-500">
              </div>
            </form>
          </div>
        </div>
    </body>
</html>
 m