<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Appartment Management</title>
  </head>
    <body class="bg-gray-100">
        <div>
          <div class="flex items-center py-2 px-10 border-b shadow">
            <a href="./../services.html" class="text-indigo-500 text-xl font-semibold flex items-center justify-center py-2 px-10">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
              </svg>        
              <span>Back</span>
            </a>
          </div>
          <div class="flex flex-col px-80 align-top">
            <div class="flex justify-center items-center px-96 py-12">
              <div class="flex justify-center items-center rounded-md">
                <div class="rounded-md bg-indigo-500 p-4">
                  <a href="./properties.html" class="text-gray-100 text-3xl font-bold text-center">Properties</a>
                </div>
                <div class="rounded-md p-4">
                  <a href="./owners.html" class="text-gray-700 text-3xl font-bold text-center">Owners</a>
                </div>
                <div class="rounded-md p-4">
                  <a href="./customers.html" class="text-gray-700 text-3xl font-bold text-center">Customers</a>
                </div>
                <div class="rounded-md p-4">
                  <a href="./pricings.html" class="text-gray-700 text-3xl font-bold text-center">Pricings</a>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-4 gap-6">
              <div class="rounded-lg overflow-hidden shadow-lg">
                <img src="./../../../dist/images/house3.jpg" alt="house3" class="">
                <div class="bg-white p-4 -top-2">
                  <p class="text-lg font-bold text-gray-700">Luxury Penthouse <span class="bg-red-400 p-2 rounded-lg ml-4 text-gray-100">Occupied</span></p>
                  <p class="text-base text-gray-500">123 Palm Springs, LA</p>
                  <p class="font-bold text-indigo-500 text-right text-xl">$ 3500</p>
                </div>
              </div>
              <div class="rounded-lg overflow-hidden shadow-lg">
                <img src="./../../../dist/images/house3.jpg" alt="house3" class="">
                <div class="bg-white p-4 -top-2">
                  <p class="text-lg font-bold text-gray-700">Luxury Penthouse <span class="bg-indigo-400 p-2 rounded-lg ml-4 text-gray-100">Available</span></p>
                  <p class="text-base text-gray-500">123 Palm Springs, LA</p>
                  <p class="font-bold text-indigo-500 text-right text-xl">$ 3500</p>
                </div>
              </div>
              <div class="rounded-lg overflow-hidden shadow-lg">
                <img src="./../../../dist/images/house3.jpg" alt="house3" class="">
                <div class="bg-white p-4 -top-2">
                  <p class="text-lg font-bold text-gray-700">Luxury Penthouse <span class="bg-red-400 p-2 rounded-lg ml-4 text-gray-100">Occupied</span></p>
                  <p class="text-base text-gray-500">123 Palm Springs, LA</p>
                  <p class="font-bold text-indigo-500 text-right text-xl">$ 3500</p>
                </div>
              </div>
              <div class="rounded-lg overflow-hidden shadow-lg">
                <img src="./../../../dist/images/house3.jpg" alt="house3" class="">
                <div class="bg-white p-4 -top-2">
                  <p class="text-lg font-bold text-gray-700">Luxury Penthouse <span class="bg-indigo-400 p-2 rounded-lg ml-4 text-gray-100">Available</span></p>
                  <p class="text-base text-gray-500">123 Palm Springs, LA</p>
                  <p class="font-bold text-indigo-500 text-right text-xl">$ 3500</p>
                </div>
              </div>
              <div class="rounded-lg overflow-hidden shadow-lg">
                <img src="./../../../dist/images/house3.jpg" alt="house3" class="">
                <div class="bg-white p-4 -top-2">
                  <p class="text-lg font-bold text-gray-700">Luxury Penthouse <span class="bg-red-400 p-2 rounded-lg ml-4 text-gray-100">Occupied</span></p>
                  <p class="text-base text-gray-500">123 Palm Springs, LA</p>
                  <p class="font-bold text-indigo-500 text-right text-xl">$ 3500</p>
                </div>
              </div>
              <div class="rounded-lg overflow-hidden shadow-lg">
                <img src="./../../../dist/images/house3.jpg" alt="house3" class="">
                <div class="bg-white p-4 -top-2">
                  <p class="text-lg font-bold text-gray-700">Luxury Penthouse <span class="bg-red-400 p-2 rounded-lg ml-4 text-gray-100">Occupied</span></p>
                  <p class="text-base text-gray-500">123 Palm Springs, LA</p>
                  <p class="font-bold text-indigo-500 text-right text-xl">$ 3500</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
